.card{
    position: relative;
    width: 100%;
    background: #ffc7dd;
    border-radius: 5px;
    padding: 12px;
    padding-bottom: 24px;
}

.card .card-bg{
    width: 100%;
    height: 120px;
    border-radius: 12px;
    object-fit: cover;
    margin-bottom: 12px;
}

.card .card-thumbnail{
    position: absolute;
    top: 24px;
    left: 24px;
    width: calc(120px - 24px);
    height: calc(120px - 24px);
    border-radius: 12px;
    object-fit: cover;
}

.card .card-buttons{
    width: 100%;
    margin-bottom: 8px;
    display: flex;
    flex-flow: row wrap;
}

.card .card-buttons a{
    margin-right: 12px;
}

.card .card-buttons a:last-child{
    margin-right: 0;
}

.card h1,
.card h2{
    margin-bottom: 4px;
}

.card.card-profile p{
    font-size: 1.1em;
}